html {
  font-family: "PT Sans", sans-serif;
}

body {
  margin: 0;
}

.nav a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: #000;
}

.nav a:hover {
  background-color: #333;
  color: #fff;
}

header {
  background-color: #0095b9;
  position: relative;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ccc;
  display: none;
  right: 0;
  top: 100%;
  width: 15em;
}

.nav-check {
  position: absolute;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  width: 50px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  display: block;
  background-color: #ccc;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
}

.b1 {
  background-color: #f5f0f0;
}

.s1 {
  background-color: black;
  color: #fff;
}

.s2 {
  background-color: black;
  color: #fff;
}

.s3 {
  background-color: black;
  color: #fff;
}
