.nav {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -20em;
}

.nav-check:checked ~ .nav-label {
  display: block;
  background-color: #fff;
}

.nav-label {
  cursor: pointer;
  width: 40px;
}

.nav-label img {
  display: block;
  width: 100%;
}

label {
  color: #000;
}
