header {
  position: relative;
}

.nav {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 15em;
}

.nav-check {
  position: absolute;
  bottom: 3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav-label {
  display: block;
  background-color: #ccc;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}
